manifest {
    name = 'wgs-germline-snv'
    author = 'NGS Clinical Team'
    description = 'Dockerized WGS germline SNV, SV, CNV and PharmCAT interpretation workflow'
    version = '0.3.2'
    nextflowVersion = '>=24.10.0'
}

params {
    input = null
    outdir = 'results'
    reference = null
    vep_cache = null
    vep_plugins = null
    vep_plugin_data = null
    // Semicolon-separated VEP plugin specifications, relative to plugin_data.
    // Example: dbNSFP,dbNSFP4.9a.gz;AlphaMissense,file=AlphaMissense_hg38.tsv.gz
    vep_plugin_args = null
    vep_contigs = 'chr1,chr2,chr3,chr4,chr5,chr6,chr7,chr8,chr9,chr10,chr11,chr12,chr13,chr14,chr15,chr16,chr17,chr18,chr19,chr20,chr21,chr22,chrX,chrY,chrM'
    // Tuned for the platform host (32 physical cores, 123 GiB RAM).
    vep_max_parallel = 5
    vep_fork_per_shard = 6
    buffer_size = 5000
    dp_min = 20
    gq_min = 20
    vaf_min = 0.2
    pass_only = true
    population = 'eas'
    population_af_max = 0.01
    predictor_min = 7
    acmg_genes = "${projectDir}/assets/acmg_sf_gene_disease.tsv"
    acmg_rules = "${projectDir}/assets/acmg_sf_v3.3_rules.tsv"
    annotsv_annotations = null
    skip_vep = false
    skip_pharmcat = false
}

process {
    executor = 'local'
    errorStrategy = 'terminate'
    shell = ['/bin/bash', '-euo', 'pipefail']
    withName: 'VALIDATE_VCF' {
        container = 'quay.io/biocontainers/bcftools:1.20--h8b25389_0'
        cpus = 1
        memory = '2 GB'
    }
    withName: 'NORMALIZE_VCF' {
        container = 'quay.io/biocontainers/bcftools:1.20--h8b25389_0'
        cpus = 2
        memory = '8 GB'
    }
    withName: 'SPLIT_VCF_BY_CONTIG' {
        container = 'quay.io/biocontainers/bcftools:1.20--h8b25389_0'
        cpus = 1
        memory = '2 GB'
        maxForks = 4
    }
    withName: 'VEP_ANNOTATE_SHARD' {
        container = 'ensemblorg/ensembl-vep:release_112.0'
        cpus = { params.vep_fork_per_shard as int }
        memory = '22 GB'
        maxForks = params.vep_max_parallel as int
        time = '48h'
    }
    withName: 'MERGE_VEP_SHARDS' {
        container = 'ncku-wgs-python:20260721'
        cpus = 1
        memory = '2 GB'
    }
    withName: 'PRIORITIZE_VARIANTS' {
        container = 'ncku-wgs-python:20260721'
        cpus = 1
        memory = '8 GB'
    }
    withName: 'PRIORITIZE_STRUCTURAL' {
        container = 'ncku-wgs-python:20260721'
        cpus = 1
        memory = '4 GB'
    }
    withName: 'FINALIZE' {
        container = 'ncku-wgs-python:20260721'
        cpus = 1
        memory = '1 GB'
    }
    withName: 'TEST_PRIORITIZE' {
        container = 'ncku-wgs-python:20260721'
        cpus = 1
        memory = '1 GB'
    }
    withName: 'PHARMCAT_STANDARD' {
        container = 'pgkb/pharmcat:3.3.0'
        cpus = 4
        memory = '16 GB'
        time = '12h'
    }
}

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

timeline.enabled = true
report.enabled = true
trace.enabled = true
dag.enabled = true

profiles {
    test {
        params.input = "${projectDir}/tests/data/samplesheet.csv"
        params.reference = "${projectDir}/tests/data/GRCh38.test.fa"
        params.vep_cache = "${projectDir}/tests/data/vep_cache"
        params.skip_vep = true
        params.skip_pharmcat = true
        docker.enabled = true
    }
    docker {
        docker.enabled = true
    }
}
